html{
	height: 100%;
}

body{
	background-color: #0e0e0e;
	background-repeat: no-repeat;
	font-family: 'Roboto';
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	padding: 0;
	height: 100%;
	color: #bbb;
	overflow: hidden;
}

.squareDiv{
	width: 100%;
	text-align: center;
}

.sideHeading{
	font-size: 18px;
	margin-bottom: 7px;
}

#gameStatus{
	margin-top: 10px;
	width: 100%%;
}

.sideDiv{
	display: inline-block;
	position: fixed;
	width: 160px;
	height: 100%;

}

.leftDiv{
	border-right: 1px solid #333;
	padding-left: 20px;
	float: left;
	left: 0;
	text-align: left;
}

.header{
	font-weight: 100;
	margin-top: 30px;
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 40px;

}

.plainLink{
	color: inherit;
	text-decoration: inherit;
}

.centerDiv{
	display: inline-block;
}

.playerCanvas{
	border: 2px solid #333;
	margin: 0 auto;
}

.playerCountDiv{
	margin-top: 25px;
	text-align: center;
}

#playerCount{
	width: 100px;
	text-align: center;
}

#playerConfigListDiv{
	margin: auto;
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: left;
	width: 350px;
	display: table;
	table-layout: fixed;
}

.tableHeader{
	font-size: 16px;
	margin-bottom: 200px;
}

.tableHeaderCell{
	margin-bottom: 200px;
}

.playerConfigDiv{
	width: 100%;
	display: table-row;
}

.playerNameDiv{
	width: 80px;
	display: table-cell;
}

div.playerColorDiv{
	width: 10	5px;
	display: table-cell;
}

.playerKeyDiv{
	width: 20%;
	display: table-cell;
}

.prompt{
	margin-right: 20px;
}

.playerNameStatusDiv{
	display: inline-block;
	width: 50%;
}

.playerColorStatusDiv{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 20px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);

}

.playerScoreStatusDiv{
	display: inline-block;
}

input{
	background-color: #ffffff;
	color: #333;
	border: 1px solid #000;
	border-radius: 4px;
}

button{
	background-color: #222;
	border-radius: 4px;
	border: 1px solid #444;
	color: #aaa;
	padding: 5px 18px;
}

button:hover{
	background: -webkit-linear-gradient(top, rgb(218, 0, 0) 0px, rgb(154, 0, 0) 100%);
	cursor: pointer;
}

.buttonPanelDiv{
	text-align: center;
}

mainDiv{
	margin: 20px auto;
}